*.dll
*.pdb
*.cache
*.wixobj
Temporary*.*

# User-specific files
*.suo
*.db
*.sdf
*.user
*.mnr
*.exe
*.msi
src/AssemblySharedInfoGenerator/AssemblySharedInfo.cs
src/.vs/

# Folders
[Bb]in/
[Oo]bj/
[Ll]og/