*.dll
*.pdb
*.cache
*.wixobj
Temporary*.*

# User-specific files
*.suo
*.sdf
*.user
*.mnr

# Folders
[Bb]in/
[Oo]bj/
[Ll]og/
setup/DynamoForAdvanceSteel2017.exe
setup/DynamoForAdvanceSteel2017WithDynamoCore.exe
setup/Installers/DynamoCore.msi
setup/Installers/DynamoForAdvanceSteel2017.msi