<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="{610C9FA6-CCCE-4FBD-BE89-D67E182C1CC3}" Name="Dynamo Extension for Autodesk Advance Steel 2020" Language="1033" Version="1.0.0.0" Manufacturer="Autodesk" UpgradeCode="{EEF4DA03-7CC3-4189-BCC5-9B2787F528E3}">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64" />
		<MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Property Id="AS_VERSION">2020</Property>
		<Property Id="ADVANCESTEELLOCATION">
			<RegistrySearch Id="AdvanceSteelRegistry" Type="raw" Win64="yes" Root="HKLM" Key="SOFTWARE\Autodesk\AutoCAD\R23.1\ACAD-3026" Name="BinPath" />
		</Property>

		<Property Id="ARPNOMODIFY">1</Property>
		<Property Id="ARPPRODUCTICON" Value="W16_DYNADST_launch.ico" />
		<SetProperty Id="ARPINSTALLLOCATION" Value="[AdvanceSteelDynamo]" After="CostFinalize" />
    
		<InstallExecuteSequence>
			<RegisterClassInfo />
			<RegisterProgIdInfo />
			<Custom Action="ConfigureInstallLocationProperty" Before="CostFinalize" />
			<Custom Action="ConfigureAdvanceSteelLocationProperty" After="ConfigureInstallLocationProperty" />
		</InstallExecuteSequence>

		<CustomAction Id="ConfigureInstallLocationProperty" Property="INSTALLDIR" Value="[DYNAMOLOCATION]" />
		<CustomAction Id="ConfigureAdvanceSteelLocationProperty" Property="AdvanceSteelLocation" Value="[ADVANCESTEELLOCATION]" />

		<Condition Message="This application requires Advance Steel [AS_VERSION]. Please install Advance Steel [AS_VERSION] then run this installer again.">
			<![CDATA[Installed OR ADVANCESTEELLOCATION]]>
		</Condition>
		<Condition Message="This application requires Dynamo 2.0 . Please install Dynamo then run this installer again.">
			<![CDATA[Installed OR (DYNAMO_VERSION << "2.")]]>
		</Condition>
		<Condition Message="The install location for Dynamo could not be identified. Please re-install Dynamo then run this installer again.">
			<![CDATA[Installed OR DYNAMOLOCATION]]>
		</Condition>

		<Icon Id="W16_DYNADST_launch.ico" SourceFile="$(var.solPath)\tools\Extra\W16_DYNADST_launch.ico" />

		<Feature Id="ASFeature">
			<ComponentGroupRef Id = "ASFiles"/>
			<ComponentGroupRef Id = "SampleFiles"/>
		</Feature>

	</Product>

</Wix>